.about-images img:first-child{
    width: 400px;
    height: 500px;
    object-fit: cover;
   }

@media(max-width:900px){
    .about-images img:first-child{
        width: 90%;
       }
       .about-images img:nth-of-type(2){
        width: 50%;
       }

       /* .about-btn{
        text-align: center;
       } */
}